*{
    padding: 0%;
    margin: 0%;
    font-family: 'Ubuntu', sans-serif;
}
body{
    
    overflow: hidden;
    height: 100vh;
    background: url(./round4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backface-visibility: visible;
    
}
div{
    color: aliceblue;
    height: 60vh;
    padding-top: 20vh;
    display: flex;
    font-size: larger;
    line-height: 25px;
    justify-content: center;
    align-items: center;
}